[tool.poetry]
name = "ipy_pdcache"
version = "0.0.1"
description = "Automatically cache results of intensive computations in IPython."

authors = ["kpj <kpjkpjkpjkpjkpjkpj@gmail.com>"]
license = "MIT"

readme = "README.md"

repository = "https://github.com/kpj/ipy_pdcache"


[tool.poetry.dependencies]
python = "^3.7"
pandas = "^0.25.1"
ipython = "^7.8"


[tool.poetry.dev-dependencies]
pytest = "^5.1"


[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"


[tool.dephell.main]
from = {format = "poetry", path = "pyproject.toml"}
to = {format = "setuppy", path = "setup.py"}
# execute `dephell deps convert` to generate setup.py
